<!DOCTYPE html>
    <html>
        <body>
            <header class="header">
            <div class="header-left"></div>
            <div class="header-right"></div>
            </header>
         
         <main>
        
         <div class="top-main">
         <div class="form">
         <div class="form-width">
         <div class="form-title">potepan shareでまだ体験したことのない旅をしよう</div>
         <div id="label"><label for="___">エリア</label></div>
         <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
         <div class="form-area">
         <input type="text" name="area" id="area" value="" class="form-control mb-4" placeholder="東京">
         <input type="submit" name="commit" value="探す" class="form-control btn-primary mb-4" data-disable-with="探す">
         </form>
         </div>
         </div>
         </div>
         </div>


         <footer>
            <div class="footer-width">
            <div class="footer-title">おすすめのエリア</div>
            <a href=""class="area-photo"> <img src="assets/ダウンロード (3).jpeg"><span>東京</span></a>
            <a href=""class="area-photo"> <img src="assets/ダウンロード (4).jpeg"><span>京都</span></a>
            <a href=""class="area-photo"> <img src="assets/ダウンロード (5).jpeg"><span>大阪</span></a>
            <a href=""class="area-photo"> <img src="assets/images.jpeg"><span>札幌</span></a>
            </div>
            <div class="footer"> <h3>© 2020 POTEPAN.INC.</h3></div>
           
         </footer>
         </main>    
         

        </body>
     </html>